[user]
    name = Martin Haluza
    email = martin.haluza@cantatahealth.com
    signingkey = ~/.ssh/id_ed25519_sk_git_signing.pub

[gpg]
    format = ssh

[gpg "ssh"]
    program = ssh-keygen

[commit]
    gpgsign = true
